<!DOCTYPE html>
<html ng-app>
<head>
    <title>Cube</title>
    <link href="styles/cube.css" media="all" rel="stylesheet">
</head>
<body>
<div ng-init="x=0; y=0; z=0">
    <input type="range" ng-model="x" min="0" max="360" step="1"/>
    <input type="range" ng-model="y" min="0" max="360" step="1"/>
    <input type="range" ng-model="z" min="0" max="360" step="1"/>
</div>

<div class="wrap">
    <div class="cube"
         style="-webkit-transform: rotateX({{x}}deg) rotateY({{y}}deg) rotate({{z}}deg)">
        <div class="front">front</div>
        <div class="back">back</div>
        <div class="top">top</div>
        <div class="bottom">bottom</div>
        <div class="left">left</div>
        <div class="right">right</div>
    </div>
</div>
<script src="lib/angular/angular.js"></script>
</body>
</html>